*{
    color: #d9d9d9;
    font-family: 'Fira Code', monospace;
}

body{
    background: url(img/Fondito.png);
    background-position: bottom;
    background-size: cover;
    background: linear-gradient(120deg, #331d3f, #331d3f);
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Barra de navegación*/
.navbar-main {
    background-color: #331d3fc4;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-toggler:hover {
    transition: all 400ms;
    transform: scale(0.9);
}

#menuNav a {
    color: #d9d9d9;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 25px;
    margin: 5px;
    transition: all 200ms ease-out;
}
#menuNav a:hover{
    color: #ba89d3;
}

@media screen and (max-width: 991px){
    #menuNav a{
        border-left: 4px solid #ba89d3;
        margin: 5px;
    }
    #menuNav a:hover {
        background-color: #ba89d3;
        color: #331d3f;
        }
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Botón Principal*/
.btn-1 {
    background-color: #ba89d3;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 3px 15px;
    transition: all 400ms ease-out;
    color: #331d3f;
    font-weight: bolder;
    font-size: 14px;
}
.btn-1:hover {
    transform: scale(1.01);
    background-color: hsla(287, 60%, 67%, 0.1);
    border: 1px solid #C778DD;
    color: #C778DD;
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Ventana de Login*/
.login {
    background: #331d3f;
}

/*Usuario - Contraseña*/
.login .usuario {
    position: relative;
}
.login .user {
    margin-top: 1em;
}
.login .usuario input {
    width: 50%;
    padding: 10px 0;
    font-size: 16px; 
    color: #d9d9d9;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    outline: none;
    background: none;
}

/*Animación Usuario - Contraseña*/
.login .usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #d9d9d9;
    transition: 0.5s;
}
.login .usuario input:focus ~ label,
.login .usuario input:valid ~ label {
  top: -25px;
  left: 0;
  color: #ba89d3;
  font-size: 16px;
}

/*Cerrar Login*/
#close,
#close {
    margin-top: 10px;
    font-size: 25px;
    background: none;
    border: none;
    transition: all 400ms ease-out;
}
#close:hover {
    transform: scale(1.3);
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Icons config*/
.bx {
    color: #ba89d3;
    font-size: 35px;
}
.icon {
    transition: all 400ms ease-out;
    --size: 45px;
    width: var(--size);
}
.icon:hover {
    transform: scale(1.2);
    color: #C778DD;
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Sobre mi*/
/*Banner*/
.banner {
    max-height: 800px;
    min-height: 600px;
    position: relative;
    margin-top: 70px;
}
.banner::before {
    content: "";
    opacity: 20%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/Banner_px.png);
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 50% 95%, 0% 80%);
    z-index: -1;
}

/*Header*/
.header-main {
    min-height: 80vh;
}

/*Columna-2 Redes CV*/
.cv {
    margin-top: 15px;
}
/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*Educación*/
/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*Proyecto(s)*/
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Habilidades y Skills*/
/*Título de sección*/
.skills_container {
    background-color: #4a2e55;
    margin: 1em;
    padding: 1em;
    border-radius: 10px;   
}
.skills_header {
    cursor: pointer;
}
.skills_title {
    display: flex;
    justify-content: space-between;
}
.skills_header h5 {
    margin-top: 5px;
}
.skill_icon {
    color: #ba89d3;
    font-size: 35px;
}

/*Porcentaje - Skill*/
.skill {
    margin-top: 30px;
}
.skill_name {
    display: flex;
    margin-bottom: 10px;
}
.skill_name i {
    font-size: 25px;
}
.skill_name h6 {
    margin-top: 6px;
}

/*Barra de Porcentaje*/
.skill_bar {
    display: flex;

}
.skill_name {
    height: 8px;
    border-radius: .25rem;
}
.skill_bar span {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 15px;
    margin: 10px 5px 10px 0;
    background-color: #d9d9d9;
}
.skill_bar .active {
    background-color: #C778DD;
}
/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*Contacto*/
.email h5 {
    color: #ba89d3;
    margin-bottom: 3em;
    transition: 400ms;
}
.email h5:hover {
    transform: scale(1.08);
    color: #C778DD;
}
.gif {
    margin: 1em;
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Fondo*/
#fondito {
    position: absolute;
    top: 93em;
    width: 100%;
    opacity: 50%;
    position: absolute;
    z-index: -1;
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/

/*---------------------------------------------------*/


/*---------------------------------------------------*/
/*Separación de secciones y títulos*/
.title {
    font-weight: 700;
    margin: 5em 0 2em 0;
    position: relative;
}

.title::before {
  content: "";
  position: absolute;
  top: -1em;
  left: 50%;
  width: 90%;
  height: 5px;
  background: linear-gradient(90deg, #4a2e55 0%, #C778DD 47%, #4a2e55 100%);
  transform: translateX(-50%);
}
/*---------------------------------------------------*/



/*---------------------------------------------------*/
/*Barra de scroll*/
body::-webkit-scrollbar{
    background-color: #331d3f;
    width: 10px;
    opacity: 0;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(120deg, #C778DD, #4a2e55);
    border-radius: 5px;
}
/*---------------------------------------------------*/
