*{
    box-sizing: border-box;
    color: #d9d9d9;
    font-family: 'Fira Code', monospace;
}

body{
    background: url(img/Fondito.png);
    background-position: bottom;
    background-size: cover;
    background: linear-gradient(120deg, #4a2e55, #4a2e55);
}


/*Banner*/
#banner {
    width: 100%;
    position: absolute;
    margin-top: 2em;
    opacity: 40%;
    z-index: -1;
}


/*---------------------------------------------------*/
/*Clases Generales*/
.item{
    color: #C778DD;
    margin: 0px 20px;
}

.titulo{
    width: 100%;
    height: 8em;  
}
.titulo h2::after{
    position: absolute;
    width: 75%;
    height: 4px;
    margin: 0px 20px;
    margin-top: 25px;
    background-color: #C778DD;
}

.negrita {
    font-weight: 700;
}



/*---------------------------------------------------*/
/*Barra de navegaci칩n*/
.navbar-main {
    background-color: hsla(283, 30%, 26%, 0.9);
}
#menuNav a{
    color: #d9d9d9;
    font-size: 14px;
    padding: 5px 25px;
    transition: all 400ms ease-out;
}
#menuNav a:hover{
    color: #ba89d3;
}

/*login*/
.log {
    padding: 5px 25px;
}

/*Bot칩n 1*/
.btn-1 {
    padding: 2px 35px;
    background: none;
    border-style: solid;
    border-color: #ba89d3;
    transition: all 400ms ease-out;
}
.btn-1 span{
    font-size: 14px;
    font-weight: bold;
    color: #ba89d3;
}
.btn-1:hover {
    transform: scale(0.98);
    background: hsla(280, 46%, 68%, 0.2);
}


/*---------------------------------------------------*/
/*Sobre mi*/
.header-main {
    min-height: 90vh;
}

/*Columna-1*/
.cv {
    margin-top: 10px;
}

/*Columna-2 Redes*/
.redes i{
    --size: 50px;
    width: var(--size);
    font-size: 35px;
    color: #ba89d3;
    transition: all 400ms ease-out;
}
.redes i:hover{
    transform: scale(1.1);
    color: #C778DD;
}



/*---------------------------------------------------*/
/*Educaci칩n*/



/*---------------------------------------------------*/
/*Proyecto(s)*/


/*---------------------------------------------------*/
/*Skills y m치s*/


/*---------------------------------------------------*/
/*Contacto*/
.email h5 {
    color: #ba89d3;
    margin-bottom: 3em;
    transition: 400ms;
}
.email h5:hover {
    color: #C778DD;
}
.gif {
    margin: 1em;
}



/*---------------------------------------------------*/
/*Fondo*/
#Fondo_pie {
    width: 100%;
    opacity: 50%;
    position: absolute;
    z-index: -1;
}



/*---------------------------------------------------*/
/*Barra de scroll*/
body::-webkit-scrollbar{
    background-color: #754a84;
    width: 15px;
    opacity: 0;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(120deg, #221329, #754a84);
    border-radius: 100px;
    border: 2px solid #754a84;
}